node_modules/casperjs
node_modules/phantomjs
node_modules/yadda
node_modules/async
node_modules/node-nbt
node_modules/node-static
node_modules/archiver
node_modules/.bin
node_modules/mkdirp
node_modules/gulp
node_modules/del
node_modules/merge-stream
node_modules/gulp-babel
node_modules/babel
node_modules/moment
node_modules/mocha
node_modules/chai
node_modules/gulp-mocha
node_modules/lazystream
node_modules/gulp-casperjs
node_modules/gulp-shell
node_modules/require-dir
assets/html/google*
public/*
lib/*